
<!DOCTYPE html>
<html lang="en">

<head>
<title>Music Generation</title>
    <style>
        img{ width: auto;
            height: auto;
            padding:5%;
            max-width: 100%;
            max-height: 100%;}
    
        figure figcaption {
          border: 1px dotted blue;
          text-align: center;
          font-size:150%;
        }
    
        .boxed {
  border: 1px solid green ;
}
    </style>
     <link rel="icon" href="data:,">
     <link rel="shortcut icon" href="">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <style type="text/css">
  </style>
</head>


<body>
<center><h1>Fun of music generation</h1></center>
  <div class="container" >


        <h1>The trained pairs</h1>

        <div class="row">   
           
          <div class="col-md-4">
              <center> <p>Star Wars Original</p></center>
            <audio controls>
                    <source src="../static/StarWarsOriginal.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
            </audio>
          </div>
             
            <div class="col-md-4">
                <center> <p>StarWars100</p></center>
                    <audio controls>
                            <source src="../static/StarWars100.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                    </audio>
            </div>

           

            <div class="col-md-4">
              <center> <p>StarWars25000</p> </center>
              <audio controls>
                      <source src="../static/StarWars25000.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
              </audio>
            </div>


        </div>


        <div class="row">   
           
          <div class="col-md-4">
              <center> <p>Guitar Solo Original</p> </center>
            <audio controls>
                    <source src="../static/GuitarSoloOriginal2.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
            </audio>
          </div>

            <div class="col-md-4">
                <center> <p>GuitarSolo100</p> </center>
                    <audio controls>
                            <source src="../static/GuitarSolo100.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                    </audio>
            </div>

           

            <div class="col-md-4">
                <center> <p>GuitarSolo25000</p> </center>
              <audio controls>
                      <source src="../static/GuitarSolo25000.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
              </audio>
            </div>

          </div>



          <div class="row">   
           
              <div class="col-md-4">
                  <center> <p>TwoFountainsOriginal</p> </center>
                <audio controls>
                        <source src="../static/TwoFountainsOriginal.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                </audio>
              </div>
    
                <div class="col-md-4">
                    <center> <p>TwoFountains100</p> </center>
                        <audio controls>
                                <source src="../static/TwoFountains100.mp3" type="audio/mpeg">
                                    Your browser does not support the audio element.
                        </audio>
                </div>
    
               
    
                <div class="col-md-4">
                    <center> <p>TwoFountains25000</p> </center>
                  <audio controls>
                          <source src="../static/TwoFountains25000.mp3" type="audio/mpeg">
                              Your browser does not support the audio element.
                  </audio>
                </div>
            </div>


   <br>  <br>  <br>  

   


<center><h2>Upload files</h2></center>
<center><div id='upload_alert' ></div></center>
<br>  <br>  
  <!-- <div id="display_or_not" style="display: none">   -->
    <!-- Craigslist Listings -->
   <center>
    <form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
    </center>
      <br>  <br>  <br>  

      <!-- <center> <h3>Full list of  files</h3></center> -->

    <!-- <div class="row">
      
       <div class="col-md-12">
           
            
        <table border="1" class="dataframe text-center">
          {% for file in x1 %}
             <tr>
               <td>{{file}}</td>
             </tr>
             {% endfor %}

             {% for file2 in x2 %}
             
                <tr>
                <td>{{file2}}</td>
                  </tr>
             {% endfor %}


        </table>
           
         
       </div>
     </div> -->
    
   </div> 

  <center> <a href='/'>mp3 files that was just uploaded:</a> </center>
    
  <center> 
  <table>
    <tr>
      <th><center>delete?</center></th>
      <th><center>click to train(to be implemented)</center></th>
      <th><center>click to listen</center></th>
      <th><center>size</center></th>
    </tr>
    {% for file2 in x2 %}
    {% for key, value in file2.items() %}
    <tr id={{key}}>
      <td> <input type='button' value={{key}} onclick='delete_me(this)' /> </td>
    <!-- <td><center><a src="{{ url_for('static',filename=file2)}}">{{file2}}</a></center></td> -->
    <td><center>train</a></center></td>
    <td><center>
      <audio controls>
        <source src="{{ url_for('static',filename=key)}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
      </center>
    </td>

    <td><center>
        {{value}}M
        </center>
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
</center>



      <script>
      function delete_me(objButton) {
          document.getElementById(objButton.value).outerHTML = " ";
        }
      </script>

      <script type="text/javascript">
            var sentence= '{{file_message}}'
            console.log(sentence)
      </script>

     
        <script>
            d3.select("#upload_alert").text(sentence)
          </script>
</body>

</html>
